:root {
    --color-brand-start: #ff067b;
    --color-brand-end: #ff8422;
    --font-family-stack: 'Funnel Display', sans-serif;
    --timing-function-standard: cubic-bezier(0.4, 0, 0.2, 1);
}

html,
body {
    height: 100%;
    cursor: auto;
}

body {
    margin: 0;
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-family-stack);
    font-weight: var(--font-weight);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    transition: border-radius var(--duration-short) var(--timing-function-standard);
    border-radius: 0.5rem;
}

input,
.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}
